<html>
<head>
<title>abc_action_bar_up_container.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { }
.s5 { color: rgb(128,128,128); font-style: italic; }
.s6 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
abc_action_bar_up_container.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s5">&lt;!-- Copyright (C) 2014 The Android Open Source Project 
 
     Licensed under the Apache License, Version 2.0 (the &quot;License&quot;); 
     you may not use this file except in compliance with the License. 
     You may obtain a copy of the License at 
 
          http://www.apache.org/licenses/LICENSE-2.0 
 
     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an &quot;AS IS&quot; BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License. 
--&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;</span><span class="s6">LinearLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
              </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
              </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
              </span><span class="s1">android:background=</span><span class="s3">&quot;?attr/actionBarItemBackground&quot;</span><span class="s2"> 
              </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
              </span><span class="s1">android:enabled=</span><span class="s3">&quot;false&quot;</span><span class="s2">&gt;</span><span class="s4"> 
</span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span><span class="s5">&lt;!-- From: file:/usr/local/google/buildbot/repo_clients/https___googleplex-android.googlesource.com_a_platform_manifest.git/lmp-mr1-supportlib-release/frameworks/support/v7/appcompat/res/layout/abc_action_bar_up_container.xml --&gt;</span></pre>
</body>
</html>