<html>
<head>
<title>abc_alert_dialog_material.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { }
.s5 { color: rgb(128,128,128); font-style: italic; }
.s6 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
abc_alert_dialog_material.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s5">&lt;!-- 
     Copyright (C) 2015 The Android Open Source Project 
 
     Licensed under the Apache License, Version 2.0 (the &quot;License&quot;); 
     you may not use this file except in compliance with the License. 
     You may obtain a copy of the License at 
 
          http://www.apache.org/licenses/LICENSE-2.0 
 
     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an &quot;AS IS&quot; BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License. 
--&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;</span><span class="s6">LinearLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/parentPanel&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s6">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/topPanel&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/title_template&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;?attr/dialogPreferredPadding&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;?attr/dialogPreferredPadding&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/abc_dialog_padding_top_material&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s6">ImageView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@android:id/icon&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;32dip&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;32dip&quot;</span><span class="s2"> 
                    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                    </span><span class="s1">android:src=</span><span class="s3">&quot;@null&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;@style/RtlOverlay.Widget.AppCompat.DialogTitle.Icon&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s6">android.support.v7.internal.widget.DialogTitle</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/alertTitle&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;?attr/android:windowTitleStyle&quot;</span><span class="s2"> 
                    </span><span class="s1">android:singleLine=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:ellipsize=</span><span class="s3">&quot;end&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;viewStart&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
        </span><span class="s5">&lt;!-- If the client uses a customTitle, it will be added here. --&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s6">FrameLayout</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/contentPanel&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
            </span><span class="s1">android:minHeight=</span><span class="s3">&quot;48dp&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">ScrollView</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/scrollView&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:clipToPadding=</span><span class="s3">&quot;false&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s6">LinearLayout</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s6">TextView</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@android:id/message&quot;</span><span class="s2"> 
                        </span><span class="s1">style=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Subhead&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;?attr/dialogPreferredPadding&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/abc_dialog_padding_top_material&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;?attr/dialogPreferredPadding&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s6">View</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textSpacerNoButtons&quot;</span><span class="s2"> 
                        </span><span class="s1">android:visibility=</span><span class="s3">&quot;gone&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;@dimen/abc_dialog_padding_top_material&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
            </span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
        </span><span class="s2">&lt;/</span><span class="s6">ScrollView</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;/</span><span class="s6">FrameLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s6">FrameLayout</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/customPanel&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
            </span><span class="s1">android:minHeight=</span><span class="s3">&quot;48dp&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">FrameLayout</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/custom&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;/</span><span class="s6">FrameLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s6">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonPanel&quot;</span><span class="s2"> 
            </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarStyle&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layoutDirection=</span><span class="s3">&quot;locale&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:gravity=</span><span class="s3">&quot;bottom&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">Button</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@android:id/button3&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarNeutralButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">android.support.v4.widget.Space</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:visibility=</span><span class="s3">&quot;invisible&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">Button</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@android:id/button2&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarNegativeButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s6">Button</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@android:id/button1&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarPositiveButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span><span class="s2">&lt;/</span><span class="s6">LinearLayout</span><span class="s2">&gt;</span><span class="s5">&lt;!-- From: file:/usr/local/google/buildbot/repo_clients/https___googleplex-android.googlesource.com_a_platform_manifest.git/lmp-mr1-supportlib-release/frameworks/support/v7/appcompat/res/layout/abc_alert_dialog_material.xml --&gt;</span></pre>
</body>
</html>